
.boxApresentacaoProgramacao{
    margin-top: 15px;
    margin-left: 15px;
    width: 26%;
    background-color:var(--roxo-claro);
    border-radius: 30px;
    font-size: 67px;
    padding: 30px;
    padding-left: 40px;
    box-shadow: -13px 13px 10px 0px #130633;
    font-family: 'Passion One', cursive;
}

#minimapa{
    display: block;
    border-radius: 20px;
    width: 50%;
    transition: 300ms;
}

#minimapa:hover{
    transform: scale(1.4);
    transition: 300ms;
    cursor: pointer;
}

#chamada{
    font-size: 30px;
}

figcaption{
    font-size: 18px;
    margin-bottom: 10px;
}

session{
    border: 4px solid #130633;
    border-radius: 20px;
    margin-left: 35px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 45%;
    display: inline-block;
    font-size: 20px;
    padding: 20px;
}

#clique{
    display: none;
}


@media screen and (max-width: 768px){
    .boxApresentacaoProgramacao{
        width: 70%;
        font-size: 50px;
    }

    html{
        text-align: center;
    }

    session{
        width: 70%;
        font-size: 15px;
    }

    header{
        padding-left: 20px;
    }

    #chamada{
        width: 80%;
    }

    #clique{
        display: contents;
    }

    #passe{
        display: none;
    }

    #minimapa{
        width: 400px;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 390px){
    #LogoFacens{
        display: none;
        position: inherit;
    }

    header br{
        display: none;
    }

    .boxApresentacao{
        font-size: 90px;
        width: 80%;
    }

    #section1{
        margin-left: 0px;
    }

    main{
        padding-left: 0;
    }

    #divSobre{
        display: none;
    }

    #divApoiadores{
        display: none;
    }

    #divLocalizacao{
        transform:translateY(-10px);
    }

    #primeiroParagrafo{
        width: 100%;
    }
}