@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Passion+One&display=swap');

:root{
    --roxo-escuro: #130633;
    --roxo-medio: #351AA0;
    --roxo-claro: #743DFA;
    --azul-claro: #3FCCFF;
}

html{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

#session1{
    display: inline-block;
    padding: 10px;
    margin-left: 50px;
}

strong{
    font-weight: bold;

}

header{
    width: 100%;
    position: sticky;
    top: 0px;
    display: inline-block;
    width: 100%;
    background: linear-gradient(rgba(53, 26, 160,.6),rgba(53, 26, 160,.6)), url(/img/CampusFacens.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 40%;
}


header, h1, nav{
    display: inline-block;
    vertical-align: top;
    color: white;
}

header h1{
    margin-top: 30px;
    font-size: 40px;
}

nav{
    margin-left: 25%;
    margin-top: 35px;
    font-size: 28px;
    font-weight: bold;
}

.navegacao{
    color: white;
    display: inline-block;
    padding: 8px;
}

.navegacao:hover{
    background-color: var(--roxo-escuro);
    border-radius: 8px;
    transform: scale(1.1);
    transition: 400ms;
}

#LogoFacens{
    width: 10%;
    margin-right: 8px;
}

.boxApresentacao{
    margin-top: 15px;
    margin-left: 15px;
    width: 22%;
    background-color:var(--roxo-claro);
    border-radius: 30px;
    font-size: 67px;
    padding: 30px;
    padding-left: 90px;
    box-shadow: -13px 13px 10px 0px #130633;
    font-family: 'Passion One', cursive;
}

#primeiroParagrafo{
    margin-top: 20px;
    width: 60%;
    display: inline-block;
    font-size: 20px;
    text-align: justify;
}

li{
    list-style-type: disc;
    margin: 10px 0px 0px 10px;
    text-align: justify;
    font-size: 20px;
}

ul li ul li{
    list-style-type: circle;
    margin-left: 20px;
}

p{
    margin: 20px 10px 0px 10px;
    text-align: justify;
    font-size: 20px;
    display: inline-block;
}

footer{
    width: 100%;
    color: white;
    background-image: url(/img/footerbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 80%;
    padding-left: 30px;
    padding-right: 30px;
}

#divSobre{
    vertical-align: top;
    display: inline-block;
    padding-left: 30px;
    width: 35%;
}

.sobre{
    vertical-align: top;
    display: inline-block;
    padding-left: 30px;
}

.divIcones{
    display: block;
    margin-left: 35px;
}

footer p{
    margin-top: 30px;
}

footer p{
    display: inline-block;
}

footer div{
    display: inline-block;
}

.divIcones svg{
    margin-left: 40px;
    margin-right: 12px;
    margin-bottom: 25px;
}

#iconeFacens{
    width: 65px;
    transform: translateY(-20px);
}

ul{
    margin-left: 30px;
}

#divLocalizacao{
    margin: 20px 0px 20px 0px;
    width: 25%;
}

div p{
    display: inline-block;
}

.chamadaLocalizacao{
    font-size: 23px;
}

#apoiadores p{
    text-align: center;
    display: block;
}

#divLocalizacao p{
 text-align: center;
 display: block;
 margin: 0px 0px 13px 0px;
 font-size: 15px;
}